body {

  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: content-box;
  min-height: 100vh;

  background-size: cover;
  background-position: center;
  background-color: rgb(126, 220, 202);
}


.container {

  display: flex;
  justify-content: center;
  align-items: center;
}


#television 
{

  height: 50vh;
  width: 40vw;
  
  background-color: black;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#pantalla {
  
  height: 100%;
  width: 100%;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;

  background-position: center;
  box-sizing: content-box;
  position: relative;
}


.mando {

  height: 30em;
  width: 13em;
  
  margin-left: 5em;
  margin-top: 0em;
  border-radius: 4em;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
  box-sizing: content-box;
  background-color: rgb(77, 75, 75);
}


.boton {

  height: 4em;
  width: 2.4em;
  
  display: flex;
  justify-content: space-around;
  align-items: center;

  box-sizing: content-box;
  cursor: pointer;

  border-radius: 0.5em;
  font-weight: bold;

  background-color: rgb(117, 114, 114);

}

#swiched {

  height: 0em;
  width: 2.5em;
  display: flex;
}

.OFF {

  height: 3em;
  width: 3em;
  
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;

  cursor: pointer;
  border-radius: 50%;
  
  background-color: rgb(213, 81, 81);

}


.OFFtele {
  img {
      display: none;
  }
}


.ON {

  height: 3em;
  width: 3em;
  
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;

  cursor: pointer;
  border-radius: 50%;
  
  background-color: rgb(115, 185, 83);
}

.ONtele {

  #ch1,
  #ch2,
  #ch3,
  #ch4,
  #ch5,
  #ch6,
  #ch7,
  #ch8,
  #ch9 {
      display: none;
  }

  #inicio {

      display: block;

      height: 100%;
      width: 100%;
  }
}

.imagen {

  height: 100%;
  width: 100%;
  
  object-fit: cover;
  position: absolute;

  top: 0;
  left: 0;

  z-index: 1;
  border-radius: 0em
}

.texto {

  flex-direction: row;
  align-items: center;
  justify-content: center;

  z-index: 2;

}

#changes {

  height: 2em;
  width: 14em;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}


#Volumen {

  height: 5em;
  width: 3em;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  font-weight: bold;
  cursor: pointer;
  border-radius: 0.5em;

  background-color: rgb(118, 114, 114);
}

#Canales {

  height: 5em;
  width: 3em;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  font-weight: bold;
  cursor: pointer;
  border-radius: 0.5em;

  background-color: rgb(118, 114, 114);
}

#fila1 {

  height: 2em;
  width: 10.5em;

  display: flex;
  flex-direction: center;
  justify-content: space-around;
  align-items: center;
}

#fila2 {

  height: 2em;
  width: 10.5em;

  display: flex;
  flex-direction: center;
  justify-content: space-around;
  align-items: center;
}

#fila3 {

  height: 2em;
  width: 10.5em;

  display: flex;
  flex-direction: center;
  justify-content: space-around;
  align-items: center;
}

#canal {

  margin: 0.5em;

  font-size: 2em;
  
  color: rgb(210, 213, 21);
  
}

#date {
  
  margin: 0.5em;

  font-size: 2em;
  
  color: rgb(210, 213, 21);
  
}

#hora {
  
  margin: 0.5em;

  font-size: 2em;
  
  color: rgb(210, 213, 21);
  
}


.ch1 {

  #static,
  #ch2,
  #ch3,
  #ch4,
  #ch5,
  #ch6,
  #ch7,
  #ch8,
  #ch9 {

      display: none;
  }

  #ch1 {

      display: block;
      width: 100%;
      height: 100%;
  }
}

.ch2 {

  #static,
  #ch1,
  #ch3,
  #ch4,
  #ch5,
  #ch6,
  #ch7,
  #ch8,
  #ch9 {

      display: none;
  }

  #ch2 {

      display: block;
      width: 100%;
      height: 100%;
  }
}

.ch3 {

  #static,
  #ch1,
  #ch2,
  #ch4,
  #ch5,
  #ch6,
  #ch7,
  #ch8,
  #ch9 {

      display: none;
  }

  #ch3 {

      display: block;
      width: 100%;
      height: 100%;
  }
}

.ch4 {

  #static,
  #ch1,
  #ch2,
  #ch3,
  #ch5,
  #ch6,
  #ch7,
  #ch8,
  #ch9 {

      display: none;
  }

  #ch4 {

      display: block;
      width: 100%;
      height: 100%;
  }
}

.ch5 {

  #static,
  #ch1,
  #ch2,
  #ch3,
  #ch4,
  #ch6,
  #ch7,
  #ch8,
  #ch9 {

      display: none;
  }

  #ch5 {

      display: block;
      width: 100%;
      height: 100%;
  }
}

.ch6 {

  #static,
  #ch1,
  #ch2,
  #ch3,
  #ch4,
  #ch5,
  #ch7,
  #ch8,
  #ch9 {

      display: none;
  }

  #ch6 {

      display: block;
      width: 100%;
      height: 100%;
  }
}

.ch7 {

  #static,
  #ch1,
  #ch2,
  #ch3,
  #ch4,
  #ch5,
  #ch6,
  #ch8,
  #ch9 {

      display: none;
  }

  #ch7 {

      display: block;
      width: 100%;
      height: 100%;
  }
}

.ch8 {

  #static,
  #ch1,
  #ch2,
  #ch3,
  #ch4,
  #ch5,
  #ch6,
  #ch7,
  #ch9 {

      display: none;
  }

  #ch8 {

      display: block;
      width: 100%;
      height: 100%;
  }
}

.ch9 {

  #static,
  #ch1,
  #ch2,
  #ch3,
  #ch4,
  #ch5,
  #ch6,
  #ch7,
  #ch8 {

      display: none;
  }

  #ch9 {
    
      display: block;
      width: 100%;
      height: 100%;
  }
}